RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^login$ ./login.php [L]
RewriteRule ^login$ ./index.php [L]
RewriteRule ^lockscreen$ ./lockscreen.php [L]
RewriteRule ^logout$ ./login.php?act=logout [L]
RewriteRule ^Blank$ ./index1.php?p=Blank [L]
RewriteRule ^NCPNew$ ./index1.php?p=Input-NCP-New [L]
RewriteRule ^NCPNew-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-NCP-New&nodemand=$1 [L]
RewriteRule ^StatusNCPNewUbah-([a-zA-Z0-9_-]+)$ ./index1.php?p=StatusncpNew_Ubah&id=$1 [L]
RewriteRule ^StatusNCPNew$ ./index1.php?p=Status-NCP-New [L]
RewriteRule ^PenyelesaianNew-([a-zA-Z0-9_-]+)$ ./index1.php?p=Penyelesaian-New&id=$1 [L]
RewriteRule ^PenyelesaianNew-([a-zA-Z0-9_]+)-([a-zA-Z0-9_]+)$ ./index1.php?p=Penyelesaian-New&id=$1&nokk=$2 [L]
RewriteRule ^CWarnaFinNew$ ./index1.php?p=Input-Lap-Cwarna-Fin-New [L]
RewriteRule ^CWarnaFinNew-$ ./index1.php?p=Input-Lap-Cwarna-Fin-New [L]
RewriteRule ^CWarnaFinNew-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Lap-Cwarna-Fin-New&nodemand=$1 [L]
RewriteRule ^CWarnaFinNew-([0-9]+)-([a-zA-Z0-9_]+)$ ./index1.php?p=Input-Lap-Cwarna-Fin-New&nodemand=$1&shift=$2 [L]
RewriteRule ^CWarnaFinNew&([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Lap-Cwarna-Fin-New&nodemand=$1 [L]
RewriteRule ^CWarnaFinNew&([0-9]+)&([a-zA-Z0-9_]+)$ ./index1.php?p=Input-Lap-Cwarna-Fin-New&nodemand=$1&shift=$2 [L]
RewriteRule ^LihatCWarnaFinNew$ ./index1.php?p=Lihat-Data-Cwarna-Fin-New [L]
RewriteRule ^LihatCWarnaFinNew&([a-zA-Z0-9_-]+)&([a-zA-Z0-9_-]+)&([a-zA-Z0-9_-]+)$ ./index1.php?p=Lihat-Data-Cwarna-Fin-New&awal=$1&akhir=$2&shift=$3 [L]
RewriteRule ^EditCWarnaFinNew$ ./index1.php?p=Edit_CWarnaFinNew [L]
RewriteRule ^HapusDataCWarnaFinNew-([a-zA-Z0-9_-]+)$ ./index1.php?p=HapusDataCWarnaFinNew&id=$1 [L]
RewriteRule ^CWarnaDyeNew$ ./index1.php?p=Input-Lap-Cwarna-Dye-New [L]
RewriteRule ^CWarnaDyeNew-$ ./index1.php?p=Input-Lap-Cwarna-Dye-New [L]
RewriteRule ^CWarnaDyeNew-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Lap-Cwarna-Dye-New&nodemand=$1 [L]
RewriteRule ^CWarnaDyeNew&([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Lap-Cwarna-Dye-New&nodemand=$1 [L]
RewriteRule ^CWarnaDyeNew&([0-9]+)&([a-zA-Z0-9_]+)$ ./index1.php?p=Input-Lap-Cwarna-Dye-New&nodemand=$1&shift=$2 [L]
RewriteRule ^LihatCWarnaDyeNew$ ./index1.php?p=Lihat-Data-Cwarna-Dye-New [L]
RewriteRule ^EditCWarnaDyeNew$ ./index1.php?p=Edit_CWarnaDyeNew [L]
RewriteRule ^HapusDataCWarnaDyeNew-([a-zA-Z0-9_-]+)$ ./index1.php?p=HapusDataCWarnaDyeNew&id=$1 [L]
RewriteRule ^LapJahitNew$ ./index1.php?p=Input-Lap-Jahit-New [L]
RewriteRule ^LapJahitNew-$ ./index1.php?p=Input-Lap-Jahit-New [L]
RewriteRule ^LapJahitNew-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Lap-Jahit-New&nodemand=$1 [L]
RewriteRule ^LapJahitNew&([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Lap-Jahit-New&nodemand=$1 [L]
RewriteRule ^LapJahitNew&([0-9]+)&([a-zA-Z0-9_]+)$ ./index1.php?p=Input-Lap-Jahit-New&nodemand=$1&shift=$2 [L]
RewriteRule ^LihatJahitNew$ ./index1.php?p=Lihat-Data-Jahit-New [L]
RewriteRule ^EditJahitNew$ ./index1.php?p=Edit_JahitNew [L]
RewriteRule ^InputLapShading$ ./index1.php?p=Input-Lap-Shading [L]
RewriteRule ^InputLapShading-$ ./index1.php?p=Input-Lap-Shading [L]
RewriteRule ^InputLapShading-([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Lap-Shading&nodemand=$1 [L]
RewriteRule ^InputLapShading&([a-zA-Z0-9_-]+)$ ./index1.php?p=Input-Lap-Shading&nodemand=$1 [L]
RewriteRule ^InputLapShading&([0-9]+)&([a-zA-Z0-9_]+)$ ./index1.php?p=Input-Lap-Shading&nodemand=$1&shift=$2 [L]
RewriteRule ^LihatDataShading$ ./index1.php?p=Lihat-Data-Shading [L]
RewriteRule ^EditShading$ ./index1.php?p=Edit_Shading [L]
RewriteRule ^HapusDataShading-([a-zA-Z0-9_-]+)$ ./index1.php?p=HapusDataShading&id=$1 [L]
RewriteRule ^EditDetailRollShading-([a-zA-Z0-9_-]+)$ ./index1.php?p=Edit-Detail-Roll-Shading&nodemand=$1 [L]
RewriteRule ^FirstLot$ ./index1.php?p=FirstLot [L]

Options All -Indexes
